
.App {
  width: 100vw;
  height: 100vh;
  background-color: #7FCDFF;
  overflow: hidden;
  position: relative;
}

.boat {
  width: 100px; /* Adjust the size as needed */
  height: auto;
  transition: transform 0.9s ease; /* Smooth rotation/appearance */
}
